mixin modal()
	//  start modals
	+b.modal-win.text-center(id="modal-call" class=" " style="display: none" )
		+form-wrap
			+e.title Заказать звонок
			+e.descr Заполните форму и наш менеджер свяжется с вами в ближайшее время
			+e.inputs
				+input('Ваше имя', 'text')
				+input('+7 (___) ___ - __ - __', 'tel')
			+e.btns
				+e.btn--green(type="submit") Отправить
			.text-start
				+in-c('checkbox')(checked)
					span.square
					+e.txt Отправляя заявку, вы соглашаетесь с политикой конфиденциальности и пользовательским соглашением
	// #modal-call
	+b.modal-win.text-center(id="modal-thanks" class=" " style="display: none" )
		+form-wrap
			+e.title--smaller Спасибо за обращение!
			+e.descr Наш менеджер свяжется с Вами в ближайшее время для уточнения деталей заказа
			+e.btns
				+e.btn--green.modal-close-js(type="button") Закрыть
	//#modal-thanks
	+b.modal-win.text-center(id="modal-add" class=" " style="display: none" )
		+form-wrap
			+e.title--smaller Товар добавлен в корзину
			+e.descr 129-Кирпич шагрень TABOSS (20х10х5)
			+e.btns
				+e.btn--green(href="#") Оформить заказ
				+e.btn--out-green.modal-close-js(type="button") Продолжить покупки

	// end modals