// start .sAbout
.sAbout {
	background: $gray-110;
	--sTPB: 0;

	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	@include media-breakpoint-up(md){
		--sPT: #{rem(44)};
		--sPB: #{rem(35)};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{rem(60)};
		--sPB: #{rem(56)};
	}

	@include media-breakpoint-between(md, lg){
		--img-h: #{rem(472)};
	}

	//
	&__top-row{
		--bs-gutter-y: #{rem(40)};

		padding-bottom: rem(40);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(60);
		}
	}
	&__left-col{
		@include media-breakpoint-up(lg){
			display: flex;
			align-items: center;
			padding-right: rem(60);

			width: 51% !important;
		}
		@include media-breakpoint-up(xl){
			padding-right: rem(82);
		}
	}
	.section-title{
		h2{
			//font-family: $mono;

			margin-bottom: rem(20);
			@include media-breakpoint-up(lg){
				margin-bottom: rem(30);
			}
		}
		p{
			line-height: 1.5;
			@include media-breakpoint-up(md){
				line-height: 1.75;
			}
			@include media-breakpoint-up(lg){
				line-height: 1.5;
			}
			@include media-breakpoint-up(xl){
				line-height: 1.75;
			}
		}
	}
	&__img-box{
		height: var(--img-h);
		@include media-breakpoint-up(lg){
			min-height: 100%;
		}

		& > img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: .4;
		}

		background-color: $body-color;

		position: relative;
	}
	&__logo{
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		max-width: 90%;
		max-height: 90%;

		width: rem(392);
		@include media-breakpoint-up(md){
			width: rem(538);
		}
		@include media-breakpoint-up(lg){
			width: rem(349);
		}
		@include media-breakpoint-up(xl){
			width: rem(463);
		}

		img{
			width: 100%;
			height: auto;
		}
	}

	//
	&__vantage-row{
		--bs-gutter-y: #{rem(40)};

		--bs-gutter-x: #{rem(12)};
		@include media-breakpoint-up(md){
			--bs-gutter-x: #{rem(24)};
		}
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(16)};
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(30)};
		}
	}
	//??
	&__item{

	}
	&__i-row{
		--bs-gutter-x: #{rem(20)};

		--bs-gutter-y: #{rem(22)};
		@include media-breakpoint-up(md){
			--bs-gutter-y: #{rem(20)};
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-y: #{rem(29)};
		}
	}

	//
	&__i-img{
		width: rem(75);
		height: rem(75);
		@include media-breakpoint-between(md,lg){
			width: rem(62);
			height: rem(62);
		}
		margin: 0 auto;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt-col{
		line-height: 1.5;
	}
	//
	&__txt{
		padding-bottom: rem(10);
		@include media-breakpoint-up(md){
			padding-bottom: rem(5);
		}
		@include media-breakpoint-up(lg){
			padding-bottom: rem(10);
		}
		@include media-breakpoint-up(xl){
			padding-bottom: rem(5);
		}

		&:last-child{
			padding-bottom: 0;
		}
	}
	&__gray{
		color: $gray-600;
	}

	//
	&__{}
	&__{}
} // end.sAbout