extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sContentPage/_sContentPage.pug
include ../blocks/s404/_s404.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg='04-576.png'

block title
	- let  title= '04-404'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	.container.section
		.row
			+linkModal('#modal-call', 'Заказать звонок')
			+linkModal('#modal-thanks', 'Спасибо за обращение!')
			+linkModal('#modal-add', 'Товар добавлен в корзину')
	+footer()

mixin linkModal(id, txt)
	.col-auto
		a.btn.btn-success.link-modal-js(href=id)=txt