extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sTEst00/_sTEst00.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg='index-576.png'

block title
	- let  title= 'title'
	title= title
block pagecontent 
	//-a.link-modal-js(href="#modal-call") sadasdsa
	+mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	+headerBlock()
	//+sForm()
	//+sContact()
	+footer()