mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+e.row.row
				.col-lg-3
					+sCatalogSidebar()
				.col-lg-9
					+breadcrumb(...data.breadCrumbs)
					+b.section-title
						h1=data.title
					+e.catalog-btn.sb-btn-js.toggle-sb-js.d-lg-none
						+icon('catalog')
						span Каталог продукции
					+e.content
						if block
							block
						else
							+e.cards-row.row
								-for(var i = 0; i < 6; i++)
									.col-6.col-md-4
										+prodItem()
								-for(var i = 0; i < 3; i++)
									.col-6.col-md-4.d-none.d-md-block
										+prodItem()
							+pugin()
							+e.txt-box
								p Наша компания представляет для Вас формы для профессионального изготовления искусственного облицовочного камня.
								p В интернете огромное количество предложений о продаже различных форм, изготовленных из различных материалов. При выборе форм обязательно стоит обратить внимание на несколько характеристик, от которых напрямую зависит итоговый результат. Только используя высокоточные формы, Вы получите качественную имитацию природного камня.
								p
									b Наши формы соответствуют всем обязательным требованиям:
								ul
									li Упругость, т.к. формы не должны растягиваются при работе с ними
									li Твердость, т.к. формы должны быть прочными, не деформироваться и не перекашиваться
									li Износостойкость. Формы рассчитаны для применения большое количество раз без потери качества изготавливаемого камня,
									li Упругость, т.к. формы не должны растягиваются при работе с ними
								p
									b Формы, представленные на сайте, обладают этими качествами. Они позволят Вам изготавливать искусственный камень с точными рельефом и фактурой природного камня.
	// end sCatalog

mixin prodItem()
	+b.prod-item.text-center
		+e.img(href="#")
			img(loading="lazy" src="img/@2x/prod-item.png" alt="")
		+e.name(href="#")
			| Фасадный камень гладкий
			br
			|  (34,8х18х2) (15,8шт м2)
		+e.price-bl
			+e.price
				span Цена в розницу:
				b 160₽
			+e.price
				span Цена оптом:
				a(href="#") по запросу
		+e.btn(href="#") Подробнее


mixin sCatalogSidebar()
	+b.cat-sb--js
		+e.close-btn.toggle-sb-js.d-lg-none
			+icon('cross')
			span Закрыть
		+e.dd-items
			+sCatalogSidebarItem('Усиленные формы Taboss')
			//-+sCatalogSidebarItem('Пластиковые формы Alpha', 'active')
			+e.dd-item
				+e.link(href='#') Формы РФ
			+e.dd-item
				+e.link(href='#') Полиуретановые формы
			+sCatalogSidebarItem('Пигменты и красители')
			+sCatalogSidebarItem('Добавки в бетон-пластификаторы')
			+sCatalogSidebarItem('Дополнительные материалы и оборудование')
			+sCatalogSidebarItem('Малые архитектурные формы')
			+sCatalogSidebarItem('Заборные формы ')

mixin sCatalogSidebarItem(txt, activeClasses='')
	+e.dd-item(class=activeClasses)
		+e.link--dd-head.dd-head-js=txt
		+e.dd-content.dd-content-js(class=activeClasses)
			+e.link--sub(href="#") sub-item
			+e.link--sub(href="#") sub-item-2