.toggle-menu-mobile {
	position: relative;
	color: $body-color;
	cursor: pointer;

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {
		top: rem(8);
		@include media-breakpoint-up(md){
			top: rem(7);
		}
	}
	&:not(.on){
		span:before{
			width: 50%;
			left: 50%;
		}
	}


	span:after {
		width: 50%;
		bottom: rem(8);
		@include media-breakpoint-up(md){
			bottom: rem(7);
		}
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		height: 3px;
		width: rem(32);
		@include media-breakpoint-up(md){
			height: 2px;
			width: rem(25);
		}

		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {
		top: 0;
		bottom: 0;
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 95%;
	height: calc(var(--vh, 1vh) * 100 - var(--header-h));
	top: var(--header-h);

	width: rem(496);
	right: 0;
	background: $white;
	&:not(.active){
		transform: translate3d(120%, 0,0);
		--opacity: 0;
	}
	@include mt(.4s);
	will-change: transform;

	&__inner {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		@include mt(.3s);
		transition-delay: .4s;
		opacity: var(--opacity);

		font-size: rem(18);
		line-height: calc(21/18);

		& > *:last-child{
			border-bottom: none;
		}
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}
	//
	--link-py: #{rem(20)};
	--link-px: #{rem(20)};
	--link-icon-fs: #{rem(20)};
	--link-icon-me: #{rem(15)};

	.search-bl{
		padding: calc(var(--link-py) - var(--inp-py)) var(--link-px);
		--inp-py: #{rem(10)};
		border-bottom: 1px solid $gray-100;

		.input-group{

		}
		&__btn{
			@extend .btn;
			order: 1;
			padding: 0;
			border: none!important;
			width: rem(20);

			.icon{
				font-size: rem(20);
				color: $primary;
			}
		}
		&__input{
			border: none;
			padding: var(--inp-py) rem(12);
		}
		&__{}
	}

	&__link{
		cursor: pointer;
		padding: var(--link-py) var(--link-px);
		border-bottom: 1px solid $gray-100;
		font-weight: 600;
		color: $body-color!important;

		display: flex;
		align-items: center;

		.icon{
			color: $primary;
			font-size: rem(20);
			margin-right: rem(15);
		}
	}
	.menu{
		padding: 0;
		margin: 0;
		list-style: none;

		.menu-item{
			a{
				display: block;
				padding: var(--link-py) var(--link-px);
				border-bottom: 1px solid $gray-100;
				font-weight: 500;
				color: $body-color!important;
			}
		}
	}
	&__flag{
		width: rem(40);
		height: rem(40);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: 100%;
			height: auto;
			max-height: 100%;
		}
	}

	&__dd-content{
		display: none;
		&.active{
			display: block;
		}
	}

}