mixin sContentPage(data)
	// start sContentPage
	+b.SECTION.sContentPage.section#sContentPage&attributes(attributes)
		.container
			+breadcrumb('Главная', 'Усиленные формы Taboss')
			+e.content
				h1 H1. Особенности производства изделий из бетона
				+e.img
					img(loading="lazy" src="img/@2x/sContentPage.jpg" alt="")
				h2 H2. Cвойста изделий из бетона
				table
					tbody
						- for (var i = 0; i < 9; i++)
							tr
								td Размеры:
								td 20х10
				h3 H3. Маркированный список
				ul
					li Упругость, т.к. формы не должны растягиваются при работе с ними
					li Твердость, т.к. формы должны быть прочными, не деформироваться и не перекашиваться
					li Износостойкость. Формы рассчитаны для применения большое количество раз без потери качества изготавливаемого камня,
					li Упругость, т.к. формы не должны растягиваются при работе с ними
				h4 H4. Нумированный список
				ol
					li Выберите нужный товар из каталога
					li Укажите количество товара
					li Выберите способ оплаты и укажите адрес доставки
				h5 H5. Лучшее предложение
				p В интернете огромное количество предложений о продаже различных форм, изготовленных из различных материалов. При выборе форм обязательно стоит обратить внимание на несколько характеристик, от которых напрямую зависит итоговый результат. Только используя высокоточные формы, Вы получите качественную имитацию природного камня.В интернете огромное количество предложений о продаже различных форм, изготовленных из различных материалов. При выборе форм обязательно стоит обратить внимание на несколько характеристик, от которых напрямую зависит итоговый результат. Только используя высокоточные формы, Вы получите качественную имитацию природного камня.В интернете огромное количество предложений о продаже различных форм, изготовленных из различных материалов. При выборе форм обязательно стоит обратить внимание на несколько характеристик, от которых напрямую зависит итоговый результат. Только используя высокоточные формы, Вы получите качественную имитацию природного камня.
				h6 H6. Лучшее предложение
				p В интернете огромное количество предложений о продаже различных форм, изготовленных из различных материалов. При выборе форм обязательно стоит обратить внимание на несколько характеристик, от которых напрямую зависит итоговый результат. Только используя высокоточные формы, Вы получите качественную имитацию природного камня
			+whiteForm({
				title: 'Форма связи',
				descr: 'Вы можете задать нам вопросы с помощью следующей формы',
			})
			+e.foot-row.row.align-items-center
				.col-md.text-center.text-md-start
					+e.back-btn(href="#")
						+icon('chevron-left')
						span Вернуться назад
				.col-md-auto.order-md-0.order-first
					+e.soc-row.row.align-items-center.justify-content-center.justify-content-md-start
						+e.share-txt-col.col-auto Поделиться:
						.col-auto
							| <script src="https://yastatic.net/share2/share.js"></script>
							| <div class="ya-share2" data-curtain data-shape="round" data-services="vkontakte,facebook,odnoklassniki,telegram,twitter"></div>
							//-+e.soc-sub-row.row
								+sContentPageSoc('tg')
								+sContentPageSoc('tw')
								+sContentPageSoc('fb')
								+sContentPageSoc('vk')
								+sContentPageSoc('ok')
	// end sContentPage

mixin sContentPageSoc(imgName)
	.col-auto
		+e.soc-item(href="#")
			img(loading="lazy" src=`img/svg/soc-${imgName}.svg` alt="")
