//- pugination
mixin pugin()
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')= n 
					else
						block
			+li()
				span.prev.page-numbers( )
					img(src="img/svg/prev.svg", alt="")
			+li(1)
			+li(2)
			//span can be replaced for a
			+li()
				span.page-numbers.current  3
			+li(4)
			+li(5)
			+li()
				a.next.page-numbers(href='#')
					img(src="img/svg/next.svg", alt="")